/* Login page css#signup-link */
#login-link
{
    text-decoration: none;
}

.login-page-layout
{
    border:1px solid rgb(194, 189, 189);
    border-radius:12px;
}

/* signup css */
#signup-link
{
    text-decoration: none;
}

.signup-page-layout
{
    border:1px solid rgb(194, 189, 189);
    border-radius:12px;
}

